body {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #f5f0e1;
    color: #222;
    font-family: Georgia, serif;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

p {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

select {
    width: 90px;
    padding: 8px;
    font-size: 16px;
}

textarea {
    min-height: 80px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
}
.dice-column button {

    display:block;

    margin:0 auto 30px auto;

}

#rollResult {

    min-height: 250px;

    font-size: 48px;

    text-align: center;

    font-weight: bold;

    display: flex;

    flex-direction: column;

    justify-content: center;

}

.skills-table {
    width: 100%;
    border-spacing: 10px;
}

.skills-table td {
    vertical-align: middle;
}

.skills-table input {
    
    width:120px;
}

.skills-table {

    border-spacing:20px 10px;

}

.world-row{
display:flex;
gap:20px;
}

.world-row div{
flex:1;
}

.card{
background:white;
padding:20px;
margin-top:25px;

```
border-radius:15px;

box-shadow:
    0 2px 10px rgba(0,0,0,.15);
```

}
.stats-row {

    display: flex;

    align-items: center;

    gap: 40px;

}
.stat-group {

    display:flex;

    align-items:center;

    gap:10px;

}
.play-area {

    display: flex;

    gap: 30px;

}

.play-area > .card {

    flex: 3;

}

.dice-column {

    width: 250px;

    min-width: 250px;

}
@media (max-width: 900px) {

    .play-area {

        flex-direction: column;

    }

}
#rollHistory {

    height: 120px;

    width: 120px;

    overflow-y: auto;

    border: 1px solid lightgray;

    padding: 10px;

    margin-top: 25px;

    margin-left: auto;

    margin-right: auto;

    text-align: center;

}
.dice-column {

    text-align: center;

}
